{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0
  }
}
